@import url('https://fonts.googleapis.com/css?family=Teko:300|Robot:300');

body {
}

.wrapper {
    width:800px;
    margin:0 auto;
}
p {
    margin:0;
    font-family: 'Robot', sans-serif;
}

#header {
    width: 800px;
    height:90px;
    background-color: #6f8cae;
    display: flex;
    color: #fff;
    font-family: 'Robot', sans-serif;
    font-size: 16px;
}

.header-column {
    background-color: #647f9e;
    margin:2.5px;
    color:#f0fefe;
    width:20%;
    padding-left:10px;
}

.header-column:first-child {
    background-color: #98b5d3;
}

.column-top-row {
    font-size:13px;
    font-weight: bold;
    padding-top:15px;
    padding-left:7px;
}

.column-bottom-row {
    font-family: 'Teko', sans-serif;
    font-size:35px;
    padding: 5px 0px 0px 5px;
}

.team-name {
    margin-top:-5px;
}


.litera-color {
    color:#aaeaf1;
}

.column-arrow {
    background-color: #aaeaf1;
    height: 5px;
    width: 20px;
    margin-top: -65px;
    margin-left: 101px;
}

.column-arrow-2 { 
    font-size: 35px;
    color: #aaeaf1;
    margin-left: 107px;
    margin-top: -70px;
}

/* END OF HEADER */

.planet {
    display: flex;
    flex-direction: column;
  }

  /*  */

  .first-panel {
    width: 800px;
    background-color: #6f8cae;
    display: flex;
    font-size: 13px;
  }

  .first-panel-column {
    background: #6b87a8;
    width:25%;
    height:120px;
    margin:2.5px;
    color:#f0fefe;
  }

  .first-panel-column:first-child {
      width:35%;
      background: #637f9e;
      font-family: 'Roboto', sans-serif;
  }

  .first-panel-day {
    font-weight:bold;
    padding: 20px 0px 0px 25px;
  }

  .first-panel-time {
    font-size:65px;
    font-family: 'Teko', sans-serif;
    padding-left:25px;
  }

  .graph-image {
      width:100%;
      height:120px;
  }

  .burn-status {
      color:#b5c8d3;
      font-weight: bold;
      padding:15px 0px 0px 15px;
  }

  .enabled-burn {
      color:rgb(177,235,241);
      padding-left:15px;
  }
  .enabled-burn:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: rgb(177,235,241);
    border-radius: 50%;
    margin-left: 4px;
  }

  .burn-time {
    font-family: 'Teko', sans-serif;
    font-size: 45px;
    padding-left:10px;
  }

  .burn-date {
    color:#b5c8d3;
    font-weight: bold;
    font-size:13px;
    margin-top: -10px;
    padding-left: 30px;
  }

  .burn-day {
      font-size:13px;
      padding-left:15px;
  }


  .target {
      color:#b5c8d2;
      padding:15px 0px 0px 15px;
      font-weight:bold;
  }
  
  .target-speed {
    font-family: 'Teko', sans-serif;
    font-size: 45px;
    padding-left:20px;
  }

  .thruster-temps {
    color:rgb(177,235,241);
    font-weight:bold;
    padding-left:20px;
    margin-top:-11px;
  }

  .system-check {
    width: 800px;
    background-color: #6f8cae;
    display: flex;
  }

  .system-status {
      display:flex;
      width:100%;
      margin:2.5px;
      background: #6480a0;
      color:#c8eef1;
      font-weight:bold;
      height:80px;
  }

.alarms-quantity {
    font-size: 45px;
    font-weight: lighter;
    padding-top:15px;
    padding-left:23px;
}

.alarms-alert {
    padding-top: 30px;
    padding-left: 10px;
    font-size: 20px;
}

.alert-status {
    padding-left: 370px;
    font-size: 20px;
    padding-top:15px;
}

.check-status {
    font-size:30px;
}

/* System timing */

.system-timing {
    width: 800px;
    background-color: #6f8cae;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.system-timing-left {
    background: #6f8cae;
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}
.timing-column {
    width: 396px;
    height: 80px;
    margin: 2.5px;
    background: #6b87a8;
    display:flex;
}

.system-timing-right {
    background: #6f8cae;
    width: 400px;
}

.timing-column-right{
    width: 396px;
    height: 165px;
    margin: 2.5px;
    background: #6b87a8;
}

.timing-time {
    color:#f0fefe;
    font-family: 'Teko', sans-serif;
    font-size: 45px;
    padding: 10px 0 0 15px;
}

.timing-description {
    color:#b5c8d3;
    font-weight:bold;
    padding: 24px 0 0 20px;
    font-size:13px;
}

.timing-date {
    color:#f0fefe;
    font-family: 'Teko', sans-serif;
    font-size:21px;
    padding: 20px 0 0 125px;
    line-height:20px;
}

.second-row {
    padding: 20px 0 0 49px;
}

.third-row {
    padding: 21px 0 0 65px;
}


.timing-day-number {
    color:#b5c8d3;
    font-size:21px;
}

.timing-column-third {
    width: 388px;
    height: 80px;
    margin: 2.5px;
    background: #6b87a8;
    display:flex;
}

.timing-line {
    background: #526c88;
    height:3px;
    width:360px;
    margin:0 auto;
}

.timing-breakout {
    font-family: 'Roboto',sans-serif;
    font-size:14px;
    color:#a2edeb;
    font-weight:bold;
    padding:15px 0 0 25px;
    line-height:20px;
}

.retrograde {
    color:#f0fefe;
}

.retrograde-number {
    float:right;
    color:#f0fefe;
    margin-top: -30px;
    padding-right: 30px;
    font-weight:bold;
}

.second-alert {
    color:#f0fefe;
    padding-left:22px;
    padding-top:20px;
}

.second-status {
    color: #f0fefe;
    font-size: 14px;
    padding-left: 563px;
    padding-top:6px;
}

.second-check {
    height:60px;
}

.sheldule {
    width: 800px;
    background-color: #6f8cae;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}
.sheldule-row {
    width:100%;
    height:40px;
    margin-left:2.5px;
    margin-right:2.5px;
    background: #6480a0;
    display:flex;
    padding-top:13px;
    padding-left:20px;
}


.sheldule-time {
    font-family: 'Teko', sans-serif;
    color:#d5ebeb;
    font-size:25px;
}
.sheldule-description {
    padding-left:100px; 
    width:220px;
    color:#bacdda;
    font-weight: bold;
    font-size:15px;

}

.sheldule-team {
    padding-left:335px; 
    color:#bacdda;
    font-weight: bold;
    font-size:15px;
}

.first-arrow {
    position: relative;
}

.main-arrow {
    position: absolute;
    width: 24px;
    left: 127px;
    top: 10px;
    height: 199px;
}

.sheldule-line {
    height: 4px;
    background-color: #526c88;
    width: 615px;
    margin-left: 171px;
    margin-top: -8px
}

.second-description {
    width:235px;
}

.top-priority-row {
    margin-top:2.5px;
}

.second-priority-row {
    margin-bottom:2.5px;
}

.bottom-stats {
    width:800px;
    display: flex;
    flex-wrap:wrap;
    background: #6f8cae;
}

.bottom-wrapper {
    width:100%;
    margin:2.5px;
    background: #83a0c6;
    display:flex;
}
.bottom-rendevouz {
    width:60%;
    border-right: 3px solid #6f8cae;
    padding: 10px 21px;
}

.bottom-approach {
    width: 32%;
    text-align: right;
    padding: 10px 10px 0px 0px;
}

.bottom-approach, .bottom-rendevouz {
    font-weight: bold;
    color:#f0fefe;
}


.main-table {
    width:800px;
    background: #83a0c6;
    font-family: 'Roboto',sans-serif;
    position:relative;
}

.table-row {
    background: #6581a1;
    display:flex;
    width:100%;
}

.row-cell {
    flex-basis:10%;
    border-right:3px solid #577098;
    border-bottom:3px solid #577098;
    padding:10px 12px;
    color:#f0fefe;
    font-weight:bold;
    font-size:12px;
}

.row-block {
    position: absolute;
    height: 21px;
    margin-top: 7px;
    background: #97b6db;
}

.b-1 {
    width: 21px;
    left: 13%;
}

.b-2 {
    width: 17px;
    left: 23%;
}

.b-3 {
    width: 16px;
    left: 43%;
}

.b-4 {
    width: 18px;
    left: 54%;
}

.b-5 {
    width: 18px;
    left: 64%;
}

.b-6 {
    width: 17px;
    left: 84%;
}

.b-7 {
    width: 15px;
    left: 97%;
}

.b-8 {
    width: 45px;
    left: 11%;
}

.b-9 {
    width: 51px;
    left: 18%;
}

.b-10 {
    width: 61px;
    left: 31%;
    background: #a2edf2;
}

.b-11 {
    width: 38px;
    left: 51%;
}

.b-12 {
    width: 41px;
    left: 71%;
}

.b-13 {
    width: 8px;
    left: 81%;
}

.b-14 {
    width: 53px;
    left: 91%;
}

.b-15 {
    width: 61px;
    left: 11%;
}

.b-16 {
    width: 38px;
    left: 33%;
}

.b-17 {
    width: 41px;
    left: 71%;
}

.b-18 {
    width: 8px;
    left: 81%;
}

.b-19 {
    width: 53px;
    left: 87%;
}

.b-20 {
    width: 8px;
    left: 55%;
}

.b-21 {
    width: 53px;
    left: 61%;
}

.graph-line {
    height: 221px;
    width: 3px;
    background: #a2edf2;
    position: absolute;
    top: 0px;
    left: 277px;
}

.last-row {
    height:5px;
}

.last-row-cell {
    padding: 0;
    border-bottom: none;
}

.timeline-row {
    display: flex;
    background: #6581a1;
}

.all-time {
    width: 15px;
    padding-left: 65px;
    color:#f0fef6;
    font-family: 'Teko', sans-serif;
}

.status-row {
    background: #97b6db;
    width:100%;
    display: flex;
}

.blue-status {
    width:25%;
    height:37px;
    background: #a2edf2;
}
